.cont{
    font-family: 'Inter', sans-serif;
}
.let{
    font-family: 'Sen', sans-serif;
}
.pupbg{
    background-color: #592EA9;
}
.jeg{
    color: #FFFFFF;
    font-size: 10px;
}
.yellowbtn{
    background-color: #FFD050;
}