.What{
    background-image: url(./Media/AdobeStock_383184697\ 1.png);
    width: 100%;
    background-size: cover;
    height: 700px;
}
.text1{
    font-size: 100px;
    padding-top: 220px;
    padding-left: 80px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 1px;
}
.group{
    width: 1440px;
    height: 15px;
    padding: absolute;
    margin-top: 20px;
}
footer{
    background-color: #000000;
}
footer h1{
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;
    text-align: left;
}
.footercard{
    background-color: #232323;
}
.Footerbtn{
    background-color: hsl(44, 100%, 66%);
}
.Footerbtn button{
    font-size: 10px;
    text-align: center;
    margin-top: 5px;
}
.footpass{
    background-color: transparent;
    color: #6d6e76;
    border: 2px solid #6d6e76;
    outline: none;
}
@media only screen and (max-width: 600px) {
    .h3{
        margin-left: 0px;
        }
}
@media only screen and (max-width: 600px) {
    .footpass{
        width: 100%;
        }
}